:root {
    --input-side-margin: 7em;
    --input-height: 3em;
    --element-distance: 0.5em;

    --background-zoom: -200px;
    --mouseX: 50%;
    --mouseY: 50%;
}

@font-face {
    font-family: 'comfortaa';
    src: url('../assets/fonts/Comfortaa.ttf') format('truetype');
}

@media only screen and (max-width: 550px){
    :root {
        --input-side-margin: 1em;
    }
}

@media only screen and (min-width: 1000px){
    :root {
        --input-side-margin: 15em;
    }
}

@media only screen and (min-width: 1500px){
    :root {
        --input-side-margin: 25em;
    }
}


body {
    margin: 0;
    font-family: 'comfortaa', sans-serif;

    min-height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/downwards.jpg") no-repeat scroll center;
    background-position: 100% 0;
    background-size: cover;
}


* {
    box-sizing: border-box;
}


#title {
    display:inline-block;
    width: 100%;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    font-size: 4.5em;
    mix-blend-mode: difference;
    opacity: 0.5;

    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.input-wrapper {
    margin: 0 var(--input-side-margin) 0 var(--input-side-margin);

    display: flex;
    flex-direction: row;

    gap: var(--element-distance);
}

#search-form {
    flex-grow: 2;

    position: relative;
    height: var(--input-height);

    --border-radius: calc(var(--input-height) / 2)
}

#query-elem-color {
    position: absolute;
    height: 100%;
    width: 100%;

    mix-blend-mode: overlay;
    isolation: isolate;
    border-radius: var(--border-radius);
    pointer-events : none;

    grid-column: 1;
    grid-row: 1;

    /*height: 100%;*/
}

#query-elem {
    position: absolute;
    height: 100%;
    width: 100%;

    color: #ccc;

    padding: 1.5em;

    border-radius: var(--border-radius);
    background: none;
    border: none;
    outline: rgba(255,255,255,0.4) solid 1px !important;
}

#query-elem::placeholder {
    color: white;
    opacity: .7;
}


#engine-elem {
    --max-height-val: 900%;

    width: var(--input-height);
    height: var(--max-height-val);

    transition: max-height 1s;

    overflow: hidden;
    max-height: var(--input-height);

    display: flex;
    flex-direction: column;
    gap: var(--element-distance);
}

#engine-elem:hover{
    max-height: 9999px;
}

#engine-elem .option {
    flex-basis: var(--input-height);
    flex-grow: 0;
    flex-shrink: 0;

    position: relative;
    /*height: var(--input-height);*/
    width: 100%;
    /*margin-bottom: var(--element-distance);*/

    opacity: 0.8;
    filter: saturate(40%);

    text-align: center;
    background: center no-repeat;
    background-size: contain;
}

#engine-elem .option:first-child, #engine-elem .option:hover {
    filter: saturate(1) !important;
    opacity: 1;
}

#duck-duck-go {background-image: url("../assets/logos/duck_duck_go.svg")!important;}
#yandex {background-image: url("../assets/logos/yandex.svg")!important;}
#brave {background-image: url("../assets/logos/brave.svg")!important;}
#google {background-image: url("../assets/logos/google.svg")!important;}
#youtube {background-image: url("../assets/logos/youtube.svg")!important;}
#rule34 {background-image: url("../assets/logos/rule34.png")!important;}
#bing {background-image: url("../assets/logos/bing.svg")!important;}
#yahoo {background-image: url("../assets/logos/yahoo.svg")!important;}
#nix {background-image: url("../assets/logos/nix-snowflake.svg")!important;}
